<div class="container">

    <div class="m-4 d-flex align-items-center justify-content-center" *ngFor="let h of cursos">
        <div class="card" style="width: 18rem;" >
            <div class="card-body">
                <h1 class="card-title">{{h.nombre}}</h1>
                <h6 class="card-subtitle mb-2 text-muted">Tutor: {{h.nombreInstructor}} <br> Costo: {{h.costo}}</h6>
                <p class="card-text">{{h.descripcion}}</p>
                <div><button type="button" class="btn btn-primary" (click)="openModal(aprobar)">Registrarse como Estudiante</button></div><br>
                <div><button type="button" class="btn btn-primary" (click)="openModal(aprobar)">Registrarse como Profesor</button></div>
            </div>
        </div>
    </div>

</div>

<!-- modal donde recepta el nombre del evento tras la aprobacion del mismo -->
<ng-template #aprobar let-c="close" let-d="dismiss">
    <div class="modal-header text-center">
        <h1>Confirmación de datos para matricularse</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
  
    <div class="modal-body">
        <p>Datos para registrarse en una materia</p>
        <input type="text" class="form-control text-center" id="nombre" placeholder="Nombre">
        <input type="email" class="form-control text-center" id="mail" placeholder="Correo electrónico">
    </div>
  
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btnDerecha" >Confirmar</button>
        <button type="button" class="btn btn-danger btnDerecha" (click)="c('Close click')">Cancelar</button>
    </div>
  
  </ng-template>
