<div class="container">

    <div class="m-4 d-flex align-items-center justify-content-center" *ngFor="let h of cursos">
        <div class="card" style="width: 18rem;" >
            <div class="card-body">
                <h1 class="card-title">{{h.nombre}}</h1>
                <h6 class="card-subtitle mb-2 text-muted">Tutor: {{h.nombreInstructor}} <br> Costo: {{h.costo}}</h6>
                <p class="card-text">{{h.descripcion}}</p>
                <a href="../login/" class="card-link">Matricularse</a>
            </div>
        </div>
    </div>

</div>