<div class="container">
  <div class="m-4 d-flex align-items-center justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">

        <div class="col-md-4 d-flex align-items-center">
          <img src="../../assets/logo.png" class="img-fluid d-block mx-auto my-auto" alt="Logo">
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title text-center">Inicio de sesión</h1>
            <div class="mb-3">
              <input type="email" class="form-control text-center" id="exampleFormControlInput1" placeholder="Correo electrónico">
            </div>

            <div class="mb-3">
              <input type="password" class="form-control text-center" id="inputPassword2" placeholder="Contraseña">
            </div>

            <div class="col-auto d-flex align-items-center">
              <button type="button" class="btn btn-light mb-3 d-block mx-auto"><a href="../cursos">Iniciar sesión</a></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- modal donde recepta el nombre del evento tras la aprobacion del mismo -->
<ng-template #aprobar let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4>Confirmación del Evento</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>

  <div class="modal-body">
      <p><b>Ingrese el nombre del evento:</b></p>
      <input type="text" placeholder="Ingrese el nombre del evento..." style="width: 100%;">
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-danger btnDerecha" >Guardar</button>
      <button type="button" class="btn btn-dark btnDerecha" (click)="c('Close click')">Cancelar</button>
  </div>

</ng-template>

<button type="button" class="btn btn-primary" (click)="openModal(aprobar)">Abrir Modal</button>